body
{
background-size:1400px 700px;
background-repeat:no-repeat;
text-align: center;
}
div
{
background-color:white;
display:inline-block;
padding-right: 0px;
padding-left: 0px;
margin-left:500px;
margin-right: 500px;
}
button
{
margin:3px 3px;
padding:0px 0px;
}